{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}{{title|capfirst}}{% endblock %}

{% block content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Добро пожаловать на сайт!</h2>
                Вы не найдете магазина дешевле и лучше! Лучшие бобры у нас.
              <div class="line-dec"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Featured Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Items</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">

              {% for product in products %}
                  <a href="#">
                <div class="featured-item">
                  <img src="{{ product.image|media_folder_products }}" alt="{{ product.name|capfirst }}">
                  <h4>{{ product.name|capfirst }}</h4>
                  <h6>${{ product.price }}</h6>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Ends Here -->
{% endblock %}