{% extends '../base.html' %}
{% load static %}


<title> {% block title %} {{ title|capfirst }} {% endblock %}</title>

{% block content %}

<div class="container">
    <h1>{{ title|capfirst }}</h1>
    <div class="row">
        <div class="mx-auto col-3">

            <div class="user_avatar">
                <img src="/media/{{ user.avatar }}" alt="{{ user.username }}" class="rounded-circle"  width="250">
            </div>

            <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_form.as_p }}

                <button type="submit" class="btn-primary">Сохранить</button>
            </form>

            <button class="btn-primary">
                <a href="{% url 'index' %} " style="color: white" >На главную</a>
            </button>
        </div>
    </div>
</div>



{% endblock %}
